[submodule "src/btrees"]
	path = src/btrees
	url = https://github.com/wichtounet/btrees.git
[submodule "include/jemalloc"]
	path = include/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "include/nedtries"]
	path = include/nedtries
	url = https://github.com/ned14/nedtries.git
