build
cython_tutorial
*.so
*.o
old_wrappers/*.cpp
rcuckoo_wrapper.cpp
rcuckoo_wrapper.egg-info
rcuckoo_wrap.egg-info
client.out

configs
statistics

test/test_hash
test/test_tables
test/test_search
test/test_state_machines
test/test_cuckoo

data

rdma_client
rdma_server
rdma_memory_server
cuckoo_client


flamechart
perf.data
perf.data.old
out.perf-folded
*.svg
xxHash

slogger_client
test/test_replicated_log
test/test_virtual_rdma

corrupter_client
corrupter_server
slogger_client
slogger_server
test/test_replicated_log


nedtries
output.txt
output.text
workloads


